:root {
	--background-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 18px;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
}

body {
	background-color: var(--background-color);
}

#main-container {
	position: absolute;
	margin-inline: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
}

#control-cont {
	position: relative;
	padding: 0.4rem;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
}

#input, button {
	position: relative;
	padding: 0.5rem;
	bottom: 0;
	left: 0;
	height: fit-content;
	color: #000000;
	font-size: 1rem;
}

#input {
	width: 200px;
}

button {
	width: fit-content;
	cursor: pointer;
}

#tree-view-cont {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	flex-grow: 1;
	background-color: #453445;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #ffffff transparent;
}

.node {
	position: relative;
	padding: 0.4rem;
	padding-left: 0.8rem;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	background-color: #ffffff;
	border: 2px solid #000000;
	border-left: 8px solid #000000;
	color: #000000;
}

.node > .node {
	padding-top: 0.7rem;
}

.node.current {
	background-color: #3b3b3b;
	color: #ffffff;
}
